.contienePeli{
    display:block;
    position:fixed;
    border:3px solid: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.fotoPelicula{
    height: 400px;
    width: 280px;
}
.contienePeli:hover .overlay{
    height: 30%;
}
.contienePeli:hover .tituloPeli{
    top: 21%;
}
.tituloPeli{
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: 0px;
}
.Pelicula{
    display:block;
    position:fixed;
    z-index:99;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    background:black;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    padding: 20px;
}
.contienePeli:hover .fechaPeli{
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: 0px;
}
.contienePeli:hover .salaPeli{
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: 0px;
}
