<head>
  <meta
    name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1"
  />
</head>
<body>
  <!-- contenido -->
  <div class="conteiner-fluid" style="width: auto; text-align: center">
    <app-pelicula
      *ngFor="let pelicula of peliculas"
      id="{{ pelicula.get('id') }}"
      titulo="{{ pelicula.get('titulo') }}"
      fecha="{{ pelicula.get('fecha') }}"
      hora="{{ pelicula.get('hora') }}"
      sala="{{ pelicula.get('sala') }}"
      foto="{{ pelicula.get('foto') }}"
    >
    </app-pelicula>
  </div>
</body>